<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMdpmsff6omP2Ua8C-IU5iP3RxvU01vFA</string>
	<key>GCM_SENDER_ID</key>
	<string>255300817145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ac.mj-kr.seeu</string>
	<key>PROJECT_ID</key>
	<string>seeu-cd21f</string>
	<key>STORAGE_BUCKET</key>
	<string>seeu-cd21f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255300817145:ios:ddb0cabf1e3829f1095228</string>
</dict>
</plist>